/*
* POM - Creative Coming Soon Template
* Build Date: June 2015
* Author: Madeon08
* Copyright (C) 2015 Madeon08
* This is a premium product available exclusively here : http://themeforest.net/user/Madeon08/portfolio
*/

/*  TABLE OF CONTENTS
    ---------------------------
    *. @Import & Reset
    1. Generic styles
    2. Loading
    3. Header / Home
    4. Footer / Social Icons
    5. Slides / Sections
    6. Countdown
    7. Newsletter
    8. About
    9. Photo / Gallery
   10. Media Queries
*/

/*
 * @Import & Reset
 */

// http://bourbon.io/ Sass Mixin Library
@import "bourbon";

// colors, fonts, sizes etc...
@import "libs/vars";

// custom mixins
@import "libs/mixins";

// custom CSS files
@import "font-awesome.min.css";
@import "ionicons.min.css";
@import "swipebox.css";
@import "bootstrap.min.css";
@import "animate.css";
@import "vegas.css";

// Google fonts
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,700");

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */

/*
 * Generic styles
 */

body, input, select, textarea {
    color: $white;
    font-family: $roboto-family;
    font-size: 15pt;
    line-height: 1.25;
    text-align: center;
    @include font-smoothing;
}

body {
    background: $crayon;
    overflow: hidden;
}

a {
    @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
    cursor: pointer;
    text-decoration: none;
    color: $white;

    &:hover {
        color: $torch-red;
        text-decoration: none !important;
        outline: none !important;
    }

    &:active, &:focus {
        outline: none !important;
        text-decoration: none !important;
        color: $white;
    }
}

button {
    @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
    cursor: pointer;

    &:hover, &:active, &:focus {
        outline: none !important;
        text-decoration: none !important;
        color: $shark;
    }
}

strong, b {
    font-weight: 400;
}

em, i {
    font-style: italic;
}

p {
    color: $alabaster;
    font-size: 19px;
    line-height: 1.5789;
    font-weight: 400;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: $white;
    font-weight: $font-weight;
    line-height: 1;

    a {
        color: inherit;
        text-decoration: none;
    }

    small {
        color: inherit;
    }
}

h1 {
    font-size: 70px;
    line-height: 1;
    font-weight: 100;
    margin-bottom: 25px;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

h6 {
    font-size: 16px;
    margin-bottom: 10px;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    margin: 50px 0;
}

.border {
    display: block;
    height: 5px;
    background: $torch-red;
    width: 5%;
    margin: 40px auto;
}

.clear {
    clear: both;
}

.display-none {
    display: none !important;
}

.index-999 {
    z-index: -999 !important;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.opacity-0 {
    opacity: 0 !important;
}

button.origin-button {
    border: 1px solid $torch-red;
    font-weight: 400;
    padding: 1em 2em;
    color: $white;
    background: $torch-red;
    color: $white;
    @include border-radius(5px);

    &:hover {
        background: darken($torch-red, 5%);
        color: $white;
    }
}

/* Wrapper */

@include keyframes(wrapper) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#wrapper {
    @include animation(wrapper 3s forwards);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    border: 30px solid rgba($white, 0.2);
}

/* Main */

#main {
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: 0;
        vertical-align: middle;
        width: 1px;
    }
}

/* Used for the variant Constellation */

#background {
    background: transparent;
    bottom: 0;
    width: 100vw;
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

/* Used for the variant Firefly */

#fireflies {
    background: transparent;
    bottom: 0;
    width: 100vw;
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

/* Overlay background */

.vegas-overlay {
    opacity: .8;
    background: $crayon;
}

/* Overlay lines */

.lines-overlay {
    opacity: .5;
    position: fixed;
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    background: url(../img/overlay.svg);
    background-size: cover;
    background-position: center center;
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */

/*
 * Loading
 */

.loading-part {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 40;
    background: $crayon;

    .loader-home {
        margin: -12em 0 0 -12em;
        width: 50px;
        height: 50px;
        font-size: 2px;
        position: absolute;
        text-indent: -9999em;
        top: 50vh;
        left: 50vw;
        border-top: 0.8em solid rgba($white, 0.2);
        border-right: 0.8em solid rgba($white, 0.2);
        border-bottom: 0.8em solid rgba($white, 0.2);
        border-left: 0.8em solid $white;
        @include transform(translateZ(0));
        @include animation(loadinghome 0.7s infinite linear);
    }

    .loader-home,
    .loader-home:after {
        border-radius: 50%;
        width: 24em;
        height: 24em;
    }

    @include keyframes(loadinghome) {
        0% {
            @include transform(rotate(0deg));
        }

        100% {
            @include transform(rotate(360deg));
        }
    }
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */

/*
 * Header / Home
 */

@include keyframes(header) {
    0% {
        opacity: 0;
        @include transform(translate3d(0, 1em, 0));
    }

    100% {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}


#header {
    @include animation(header 1s 0.2s forwards);
    @include backface-visibility(hidden);
    @include transform(translate3d(0, 0, 0));
    cursor: default;
    display: inline-block;
    opacity: 0;
    position: relative;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 90%;

    h1 {
        margin-bottom: 5px;
    }

    p {
        color: $alabaster;
    }

    nav {
        margin: 1.5em 0 0 0;

        li {
            display: inline-block;
            position: relative;
            top: 0;

            a {
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;
                -webkit-backface-visibility: hidden;
                border: 0;
                display: inline-block;

                &:hover {
                    opacity: 0.8;
                }

                &.icon {
                    background: $shark;
                    text-decoration: none;
                    position: relative;
                    font-size: 60px;
                    overflow: hidden;
                    position: relative;
                    display: inline-block;
                    width: 100px;
                    height: 100px;
                    margin: 10px;
                    margin-bottom: 0;
                    @include border-radius(18px);
                    line-height: 100px;
                    color: $white;

                    .label {
                        display: none;
                    }

                    &.messages {
                        // @include background-image(linear-gradient(bottom, rgb(12, 211, 26) 9%, rgb(142, 253, 120) 75%));
                        background: $green-alert;
                        border: 2px solid lighten($green-alert, 10%);
                    }

                    &.about {
                        // @include background-image(linear-gradient(bottom, rgb(255, 92, 55) 9%, rgb(255, 40, 105) 55%));
                        background: $torch-red;
                        border: 2px solid lighten($torch-red, 10%);
                    }

                    &.photos {
                        // @include background-image(linear-gradient(bottom, rgb(64, 191, 255) 9%, rgb(64, 146, 254) 55%));
                        background: $curious-blue;
                        border: 2px solid lighten($curious-blue, 10%);
                    }

                    &.phone {
                        // @include background-image(linear-gradient(bottom, rgb(12, 211, 26) 9%, rgb(142, 253, 120) 75%));
                        background: $green-alert;
                        border: 2px solid lighten($green-alert, 10%);
                    }
                }
            }

            .notification {
                height: 25px;
                width: 25px;
                line-height: 25px;
                @include border-radius(50%);
                background: $alizarincrimson;
                color: $white;
                font-weight: 600;
                position: absolute;
                z-index: 10;
                top: 0;
                right: 0;
            }

            p.name {
                font-size: 14px;

                i {
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */

/*
 * Footer / Social Icons
 */

#footer {
    right: 30px;
    line-height: 30px;
    position: fixed;
    text-align: right;
    font-size: 15px;
    width: 100%;
    z-index: 50;
    bottom: 0;
    height: 30px;

    .copyright {
        color: $athens-gray;
        font-size: 12px;
        opacity: 0.8;
    }
}

.social-icons {
    @include animation(header 1s 0.2s forwards);
    @include backface-visibility(hidden);
    @include transform(translate3d(0, 0, 0));
    opacity: 0;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 10;

    li {
        display: inline-block;
        background: rgba($crayon, 0.4);
        height: 40px;
        width: 40px;
        line-height: 40px;
        @include border-radius(0);
        @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));

        &:hover {
            background: rgba($crayon, 0.8);

            a {
                color: $white;
            }
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 15px;
            color: rgba($white, 0.5);
        }
    }
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */

/*
 * Slides / Sections
 */

.global-content {
    overflow: hidden;
}

.content-message, .content-about, .content-photos {
    opacity: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    position: fixed;
    z-index: 60;
    border: 1px solid $mine-shaft;
    @include border-radius(0);
    top: 100vh;
    left: 0;
    width: 100%;
    background: rgba($crayon, 0.6);
    min-height: calc(100% - 100px);
    height: 100%;
    // @include transform(translateX(-50%));
    @include bezier-transition(all, $medium-transition, cubic-bezier(0, 0, 0.58, 1));

    p {
        max-width: 605px;
        margin: auto;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .content-in {
        position: relative;
        height: 100%;

        .content-table {
            display: table;
            table-layout: fixed;
            width: 100%;
            height: 100%;

            .content-cell {
                display: table-cell;
                vertical-align: middle;

                .content-inner {
                    padding: 80px 0;

                    .container {
                        padding-top: 50px;
                    }
                }
            }
        }
    }
}

.slider-nav {
    width: 100%;
    background: $black-deep;
    height: 50px;
    position: fixed;
    z-index: 99;
    left: 0;
    top: -50px;
    @include bezier-transition(all, $medium-transition, cubic-bezier(0, 0, 0.58, 1));

    &.active-nav {
        top: 0;
    }

    a.close-content {
        position: absolute;
        color: $white;
        top: 15px;
        left: 50%;
        margin-left: -15px;
        width: 30px;

        &:hover {
            @include transform(rotate(90deg));
            color: $torch-red;
        }
    }

    a.prev-button, a.next-button {
        position: absolute;
        color: $alabaster;
        top: 14px;
        width: 30px;
        height: 30px;

        &:hover {
            color: $torch-red;
        }
    }

    a.prev-button {
        left: 25px;
    }

    a.next-button {
        right: 25px;
    }
}

.active-slide {
    top: 0;
    opacity: 1;

    &.first {
        .slider-nav {
            .prev-button {
                opacity: 0.3;

                &:hover {
                    color: inherit;
                }
            }
        }
    }

    &.last {
        .slider-nav {
            .next-button {
                opacity: 0.3;

                &:hover {
                    color: inherit;
                }
            }
        }
    }
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */

/*
 * Countdown
 */

#countdown_dashboard {
    display: block;
    margin: 50px auto 30px;

    .dash-glob {
        border-left: 1px solid $shark;
        text-align: center;

        &:first-child {
            margin-left: 0;
            border-left: none;
        }

        .dash {
            padding-bottom: 10px;
            position: relative;
            width: 100%;
            opacity: 1;

            .digit {
                font: {
                    size: 12em;
                    weight: 100;
                };
                display: inline-block;
                overflow: hidden;
                text-align: center;
                height: 1em;
                line-height: 1em;
                position: relative;
                vertical-align: middle;
                opacity: 0.8;
            }

            sup {
                color: $alabaster;
                font-size: 20px;
            }
        }
    }
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */

/*
 * Newsletter
 */

#notifyMe {
    max-width: 450px;
    margin: auto;

    .form-group {
        margin-bottom: 1em;

        .form-control {
            background: $white;
            border: 1px solid $gallery;
            @include border-radius(5px);
            box-shadow: none;
            font-weight: 400;
            font-size: 18px;
            outline: medium none;
            height: 70px;
            width: 100%;
            color: $mine-shaft;
            @include bezier-transition(all, 0.3s, cubic-bezier(0, 0, 0.58, 1));

            &:hover, &:focus {
                box-shadow: none;
            }

            @include placeholder {
                color: $dove-gray !important;
            }
        }

        button.submit {
            border: 1px solid $torch-red;
            font-weight: 400;
            padding: 1em 2em;
            display: block;
            margin: 20px auto 0;
            color: $white;
            background: $torch-red;
            color: $white;
            @include border-radius(5px);

            &:hover {
                background: darken($torch-red, 5%);
                color: $white;
            }
        }
    }
}

.block-message {
    min-height: 30px;
}

p.notify-valid {
    .ion-close-round {
        color: $torch-red;
    }

    .ion-checkmark-round {
        color: $green-alert;
    }
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */

/*
 * About
 */

.logo {
    max-width: 200px;
    margin-bottom: 30px;
}

.contact-info {
    margin-top: 50px;

    .contact-method {
        i {
            font-size: 40px;
            color: $dusty-gray;
        }

        p {
            width: auto;

            a {
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                    color: $white;
                }
            }
        }
    }
}

.success-message, .error-message {
    background-color: $green-alert;
    margin: 2em auto 0;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 100%;
    @include border-radius(0);

    p {
        color: $white !important;
        text-align: center;
        font-style: normal !important;
        font-size: 1em;
        font-weight: 500;
    }
}

.error-message {
    background-color: $red-alert;
    max-width: 70%;
}

#contact-form {
    margin-top: 50px;

    .form-control {
        background: $white;
        border: 1px solid $gallery;
        @include border-radius(5px);
        box-shadow: none;
        font-weight: 400;
        font-size: 18px;
        outline: medium none;
        height: 40px;
        width: 100%;
        color: $mine-shaft;
        @include bezier-transition(all, 0.3s, cubic-bezier(0, 0, 0.58, 1));
        text-align: left;

        &:hover, &:focus {
            box-shadow: none;
        }

        @include placeholder {
            color: $dove-gray !important;
        }
    }

    textarea.form-control {
        min-height: 150px;
    }

    button#valid-form, button#valid-form2 {
        border: 1px solid $torch-red;
        font-weight: 400;
        padding: 1em 2em;
        display: block;
        margin: 20px auto 0;
        color: $white;
        background: $torch-red;
        color: $white;
        @include border-radius(5px);
        font-weight: 700;

        &:hover {
            background: darken($torch-red, 5%);
            color: $white;
        }
    }
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */

/*
 * Photo / Gallery
 */

a.swipebox {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    border: 2px solid $mine-shaft;
    @include backface-visibility(hidden);

    span.text-open {
        bottom: 50%;
        line-height: 1;
        height: auto;
        width: 100%;
        text-align: center;
        color: $white;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2px;
        left: 0;
        opacity: 0;
        position: absolute;
        @include transform(translateY(50%));
        @include bezier-transition(all, 0.3s, cubic-bezier(0.42, 0, 0.58, 1));

        &:before {
            font-family: Ionicons;
            content: "\f217";
        }
    }
}

.no-touch a.swipebox:hover {
    img {
        opacity: 0.3;
        @include transform(scale(1.1));
        @include bezier-transition(all, 0.3s, cubic-bezier(0.42, 0, 0.58, 1));
        @include backface-visibility(hidden);
    }

    span.text-open {
        opacity: 1;
    }
}

img {
    overflow: hidden;
    @include bezier-transition(all, 0.3s, cubic-bezier(0.42, 0, 0.58, 1));
    @include transform(scale(1));
    @include backface-visibility(hidden);
}

.photo-collection {
    margin-top: 50px;

    .photo-item {
        padding: 0;
        overflow: hidden;
        height: auto;
    }
}

/*  
 * Skin
 */

#swipebox-overlay {
    background: $black;
}

#swipebox-bottom-bar,
#swipebox-top-bar {
    background: $black;
    opacity: 1;
    min-height: 50px;
}

#swipebox-bottom-bar {
    border-top: 1px solid $mine-shaft;
}

#swipebox-top-bar {
    color: $white !important;
    border-bottom: 1px solid $mine-shaft;
    font-size: 15px;
    line-height: 50px;
    font-weight: 600;
}

#swipebox-prev,
#swipebox-next,
#swipebox-close {
    color: $white !important;
    border: none !important;
    text-decoration: none !important;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    top: 0;
}

#swipebox-close {
    font-size: 25px;

    &:hover {
        @include transform(rotate(90deg));
        color: $mine-shaft;
    }
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */

/*
 * Media Queries
 */

/* Large Devices, Wide Screens */
@include desktop {}


/* Notebook devices */
@include notebook {}


/* Medium Devices, Desktops */
@include medium {}


/* Small Devices, Tablets */
@include tablet {
    h1 {
        font-size: 40px;
        margin-bottom: 5px;
    }

    p#text-alert {
        font-size: 15px;
    }

    #header {
        top: 0;

        .logo {
            max-width: 50%;
            margin-bottom: 10px;
        }
    }

    .global-content {
        section {
            width: 100vw;
            @include border-radius(0);
        }
    }

    .active-slide {
        top: 0 !important;
    }

    a.prev-button, a.next-button {
        &:hover {
            color: $alabaster !important;
        }
    }
}


/* Extra Small Devices, Phones */
@include phone {
    #wrapper {
        border: none;
    }

    .lines-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #footer {
        right: 10px;
    }

    .social-icons {
        right: 10px;
        top: 10px;
    }

    #header {
        nav {
            margin: 0.5em 0 0 0;

            li {
                .notification {
                    top: -5px;
                    right: -5px;
                }

                a.icon {
                    height: 75px;
                    width: 75px;
                    line-height: 75px;
                    font-size: 45px;
                    margin: 2px;
                    @include border-radius(10px);
                }
            }
        }
    }

    #countdown_dashboard {
        .dash-glob {
            .dash {
                .digit {
                    font: {
                        size: 7em;
                        weight: 100;
                    };
                }

                sup {
                    color: $alabaster;
                    display: block;
                }
            }
        }
    }

    .contact-method {
        margin-bottom: 20px;
    }
}


/* Only for tablet in landscape mode */
@include small-phone {
    #header {
        nav {
            margin: 0.5em 0 0 0;

            li {
                .notification {
                    top: -5px;
                    right: -5px;
                }

                a.icon {
                    @include border-radius(10px);
                    height: 60px;
                    width: 60px;
                    line-height: 60px;
                    font-size: 30px;
                    margin: 2px;
                }
            }
        }
    }
}


/* Only for tablet in landscape mode */
@include landscape-tablet {}


/* Only for phone in landscape mode */
@include landscape-phone {
    #wrapper {
        border: none;
    }

    .lines-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #footer {
        right: 10px;
    }

    .social-icons {
        right: 10px;
        top: 10px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 5px;
    }

    p#text-alert {
        font-size: 15px;
    }

    #header {
        top: 0;

        .logo {
            max-width: 110px;
            margin-bottom: 0;
        }

        nav {
            margin: 0;

            li {
                .notification {
                    top: -2px;
                    right: -2px;
                }

                a.icon {
                    height: 70px;
                    width: 70px;
                    line-height: 70px;
                    font-size: 45px;
                    margin: 5px;
                }
            }
        }
    }

    .global-content {
        section {
            width: 100vw;
            @include border-radius(0);
        }
    }

    .active-slide {
        top: 0 !important;
    }

    #countdown_dashboard {
        .dash-glob {
            .dash {
                .digit {
                    font: {
                        size: 10em;
                        weight: 100;
                    };
                }

                sup {
                    color: $alabaster;
                    display: block;
                }
            }
        }
    }

    #footer {
        bottom: 2px;
        right: 4px;
    }
}