/*
* POM - Creative Coming Soon Template
* Build Date: June 2015
* Author: Madeon08
* Copyright (C) 2015 Madeon08
* This is a premium product available exclusively here : http://themeforest.net/user/Madeon08/portfolio
*/
/*  TABLE OF CONTENTS
    ---------------------------
    *. @Import & Reset
    1. Generic styles
    2. Loading
    3. Header / Home
    4. Footer / Social Icons
    5. Slides / Sections
    6. Countdown
    7. Newsletter
    8. About
    9. Photo / Gallery
   10. Media Queries
*/
/*
 * @Import & Reset
 */
/* Mixin */
@import url(font-awesome.min.css);
@import url(ionicons.min.css);
@import url(swipebox.css);
@import url(bootstrap.min.css);
@import url(animate.css);
@import url(vegas.css);
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,700");
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/*
 * Generic styles
 */
body, input, select, textarea {
    color: #FFFFFF;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
    font-size: 15pt;
    line-height: 1.25;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #232323;
    overflow: hidden;
}

a {
    -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #FF1D4D;
    text-decoration: none !important;
    outline: none !important;
}

a:active, a:focus {
    outline: none !important;
    text-decoration: none !important;
    color: #FFFFFF;
}

button {
    -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    cursor: pointer;
}

button:hover, button:active, button:focus {
    outline: none !important;
    text-decoration: none !important;
    color: #2B2D35;
}

strong, b {
    font-weight: 400;
}

em, i {
    font-style: italic;
}

p {
    color: #F8F8F8;
    font-size: 19px;
    line-height: 1.5789;
    font-weight: 400;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: inherit;
}

h1 {
    font-size: 70px;
    line-height: 1;
    font-weight: 100;
    margin-bottom: 25px;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

h6 {
    font-size: 16px;
    margin-bottom: 10px;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    margin: 50px 0;
}

.border {
    display: block;
    height: 5px;
    background: #FF1D4D;
    width: 5%;
    margin: 40px auto;
}

.clear {
    clear: both;
}

.display-none {
    display: none !important;
}

.index-999 {
    z-index: -999 !important;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.opacity-0 {
    opacity: 0 !important;
}

button.origin-button {
    border: 1px solid #FF1D4D;
    font-weight: 400;
    padding: 1em 2em;
    color: #FFFFFF;
    background: #FF1D4D;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

button.origin-button:hover {
    background: #ff0339;
    color: #FFFFFF;
}

/* Wrapper */
@-webkit-keyframes wrapper {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes wrapper {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes wrapper {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#wrapper {
    -webkit-animation: wrapper 3s forwards;
    -moz-animation: wrapper 3s forwards;
    animation: wrapper 3s forwards;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    border: 30px solid rgba(255, 255, 255, 0.2);
}

/* Main */
#main {
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

#main:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: 0;
    vertical-align: middle;
    width: 1px;
}

/* Used for the variant Constellation */
#background {
    background: transparent;
    bottom: 0;
    width: 100vw;
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

/* Used for the variant Firefly */
#fireflies {
    background: transparent;
    bottom: 0;
    width: 100vw;
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

/* Overlay background */
.vegas-overlay {
    opacity: .8;
    background: #232323;
}

/* Overlay lines */
.lines-overlay {
    opacity: .5;
    position: fixed;
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    background: url(../img/overlay.svg);
    background-size: cover;
    background-position: center center;
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/*
 * Loading
 */
.loading-part {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 40;
    background: #232323;
}

.loading-part .loader-home {
    margin: -12em 0 0 -12em;
    width: 50px;
    height: 50px;
    font-size: 2px;
    position: absolute;
    text-indent: -9999em;
    top: 50vh;
    left: 50vw;
    border-top: 0.8em solid rgba(255, 255, 255, 0.2);
    border-right: 0.8em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.8em solid rgba(255, 255, 255, 0.2);
    border-left: 0.8em solid #FFFFFF;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loadinghome 0.7s infinite linear;
    -moz-animation: loadinghome 0.7s infinite linear;
    animation: loadinghome 0.7s infinite linear;
}

.loading-part .loader-home,
.loading-part .loader-home:after {
    border-radius: 50%;
    width: 24em;
    height: 24em;
}

@-webkit-keyframes loadinghome {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes loadinghome {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes loadinghome {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/*
 * Header / Home
 */
@-webkit-keyframes header {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 1em, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes header {
    0% {
        opacity: 0;
        -moz-transform: translate3d(0, 1em, 0);
    }
    100% {
        opacity: 1;
        -moz-transform: translate3d(0, 0, 0);
    }
}

@keyframes header {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 1em, 0);
        -moz-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        -o-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

#header {
    -webkit-animation: header 1s 0.2s forwards;
    -moz-animation: header 1s 0.2s forwards;
    animation: header 1s 0.2s forwards;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    cursor: default;
    display: inline-block;
    opacity: 0;
    position: relative;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 90%;
}

#header h1 {
    margin-bottom: 5px;
}

#header p {
    color: #F8F8F8;
}

#header nav {
    margin: 1.5em 0 0 0;
}

#header nav li {
    display: inline-block;
    position: relative;
    top: 0;
}

#header nav li a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-backface-visibility: hidden;
    border: 0;
    display: inline-block;
}

#header nav li a:hover {
    opacity: 0.8;
}

#header nav li a.icon {
    background: #2B2D35;
    text-decoration: none;
    position: relative;
    font-size: 60px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-bottom: 0;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    border-radius: 18px;
    line-height: 100px;
    color: #FFFFFF;
}

#header nav li a.icon .label {
    display: none;
}

#header nav li a.icon.messages {
    background: #27AE60;
    border: 2px solid #36d278;
}

#header nav li a.icon.about {
    background: #FF1D4D;
    border: 2px solid #ff5075;
}

#header nav li a.icon.photos {
    background: #3498DB;
    border: 2px solid #5faee3;
}

#header nav li a.icon.phone {
    background: #27AE60;
    border: 2px solid #36d278;
}

#header nav li .notification {
    height: 25px;
    width: 25px;
    line-height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #ec2c3b;
    color: #FFFFFF;
    font-weight: 600;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}

#header nav li p.name {
    font-size: 14px;
}

#header nav li p.name i {
    position: relative;
    top: 1px;
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/*
 * Footer / Social Icons
 */
#footer {
    right: 30px;
    line-height: 30px;
    position: fixed;
    text-align: right;
    font-size: 15px;
    width: 100%;
    z-index: 50;
    bottom: 0;
    height: 30px;
}

#footer .copyright {
    color: #f2f3f7;
    font-size: 12px;
    opacity: 0.8;
}

.social-icons {
    -webkit-animation: header 1s 0.2s forwards;
    -moz-animation: header 1s 0.2s forwards;
    animation: header 1s 0.2s forwards;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 10;
}

.social-icons li {
    display: inline-block;
    background: rgba(35, 35, 35, 0.4);
    height: 40px;
    width: 40px;
    line-height: 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.social-icons li:hover {
    background: rgba(35, 35, 35, 0.8);
}

.social-icons li:hover a {
    color: #FFFFFF;
}

.social-icons li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/*
 * Slides / Sections
 */
.global-content {
    overflow: hidden;
}

.content-message, .content-about, .content-photos {
    opacity: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    position: fixed;
    z-index: 60;
    border: 1px solid #333333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    top: 100vh;
    left: 0;
    width: 100%;
    background: rgba(35, 35, 35, 0.6);
    min-height: calc(100% - 100px);
    height: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.content-message p, .content-about p, .content-photos p {
    max-width: 605px;
    margin: auto;
}

.content-message::-webkit-scrollbar, .content-about::-webkit-scrollbar, .content-photos::-webkit-scrollbar {
    display: none;
}

.content-message .content-in, .content-about .content-in, .content-photos .content-in {
    position: relative;
    height: 100%;
}

.content-message .content-in .content-table, .content-about .content-in .content-table, .content-photos .content-in .content-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.content-message .content-in .content-table .content-cell, .content-about .content-in .content-table .content-cell, .content-photos .content-in .content-table .content-cell {
    display: table-cell;
    vertical-align: middle;
}

.content-message .content-in .content-table .content-cell .content-inner, .content-about .content-in .content-table .content-cell .content-inner, .content-photos .content-in .content-table .content-cell .content-inner {
    padding: 80px 0;
}

.content-message .content-in .content-table .content-cell .content-inner .container, .content-about .content-in .content-table .content-cell .content-inner .container, .content-photos .content-in .content-table .content-cell .content-inner .container {
    padding-top: 50px;
}

.slider-nav {
    width: 100%;
    background: #222222;
    height: 50px;
    position: fixed;
    z-index: 99;
    left: 0;
    top: -50px;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.slider-nav.active-nav {
    top: 0;
}

.slider-nav a.close-content {
    position: absolute;
    color: #FFFFFF;
    top: 15px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
}

.slider-nav a.close-content:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #FF1D4D;
}

.slider-nav a.prev-button, .slider-nav a.next-button {
    position: absolute;
    color: #F8F8F8;
    top: 14px;
    width: 30px;
    height: 30px;
}

.slider-nav a.prev-button:hover, .slider-nav a.next-button:hover {
    color: #FF1D4D;
}

.slider-nav a.prev-button {
    left: 25px;
}

.slider-nav a.next-button {
    right: 25px;
}

.active-slide {
    top: 0;
    opacity: 1;
}

.active-slide.first .slider-nav .prev-button {
    opacity: 0.3;
}

.active-slide.first .slider-nav .prev-button:hover {
    color: inherit;
}

.active-slide.last .slider-nav .next-button {
    opacity: 0.3;
}

.active-slide.last .slider-nav .next-button:hover {
    color: inherit;
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/*
 * Countdown
 */
#countdown_dashboard {
    display: block;
    margin: 50px auto 30px;
}

#countdown_dashboard .dash-glob {
    border-left: 1px solid #2B2D35;
    text-align: center;
}

#countdown_dashboard .dash-glob:first-child {
    margin-left: 0;
    border-left: none;
}

#countdown_dashboard .dash-glob .dash {
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    opacity: 1;
}

#countdown_dashboard .dash-glob .dash .digit {
    font-size: 12em;
    font-weight: 100;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    height: 1em;
    line-height: 1em;
    position: relative;
    vertical-align: middle;
    opacity: 0.8;
}

#countdown_dashboard .dash-glob .dash sup {
    color: #F8F8F8;
    font-size: 20px;
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/*
 * Newsletter
 */
#notifyMe {
    max-width: 450px;
    margin: auto;
}

#notifyMe .form-group {
    margin-bottom: 1em;
}

#notifyMe .form-group .form-control {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    box-shadow: none;
    font-weight: 400;
    font-size: 18px;
    outline: medium none;
    height: 70px;
    width: 100%;
    color: #333333;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

#notifyMe .form-group .form-control:hover, #notifyMe .form-group .form-control:focus {
    box-shadow: none;
}

#notifyMe .form-group .form-control::-webkit-input-placeholder {
    color: #666666 !important;
}

#notifyMe .form-group .form-control::-moz-placeholder {
    color: #666666 !important;
}

#notifyMe .form-group .form-control:-moz-placeholder {
    color: #666666 !important;
}

#notifyMe .form-group .form-control:-ms-input-placeholder {
    color: #666666 !important;
}

#notifyMe .form-group button.submit {
    border: 1px solid #FF1D4D;
    font-weight: 400;
    padding: 1em 2em;
    display: block;
    margin: 20px auto 0;
    color: #FFFFFF;
    background: #FF1D4D;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

#notifyMe .form-group button.submit:hover {
    background: #ff0339;
    color: #FFFFFF;
}

.block-message {
    min-height: 30px;
}

p.notify-valid .ion-close-round {
    color: #FF1D4D;
}

p.notify-valid .ion-checkmark-round {
    color: #27AE60;
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/*
 * About
 */
.logo {
    max-width: 200px;
    margin-bottom: 30px;
}

.contact-info {
    margin-top: 50px;
}

.contact-info .contact-method i {
    font-size: 40px;
    color: #999999;
}

.contact-info .contact-method p {
    width: auto;
}

.contact-info .contact-method p a {
    opacity: 0.8;
}

.contact-info .contact-method p a:hover {
    opacity: 1;
    color: #FFFFFF;
}

.success-message, .error-message {
    background-color: #27AE60;
    margin: 2em auto 0;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.success-message p, .error-message p {
    color: #FFFFFF !important;
    text-align: center;
    font-style: normal !important;
    font-size: 1em;
    font-weight: 500;
}

.error-message {
    background-color: #CF000F;
    max-width: 70%;
}

#contact-form {
    margin-top: 50px;
}

#contact-form .form-control {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    box-shadow: none;
    font-weight: 400;
    font-size: 18px;
    outline: medium none;
    height: 40px;
    width: 100%;
    color: #333333;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    text-align: left;
}

#contact-form .form-control:hover, #contact-form .form-control:focus {
    box-shadow: none;
}

#contact-form .form-control::-webkit-input-placeholder {
    color: #666666 !important;
}

#contact-form .form-control::-moz-placeholder {
    color: #666666 !important;
}

#contact-form .form-control:-moz-placeholder {
    color: #666666 !important;
}

#contact-form .form-control:-ms-input-placeholder {
    color: #666666 !important;
}

#contact-form textarea.form-control {
    min-height: 400px;
}

#contact-form button#valid-form,  #contact-form button#valid-form2{
    border: 1px solid #FF1D4D;
    font-weight: 400;
    padding: 1em 2em;
    display: block;
    margin: 20px auto 0;
    color: #FFFFFF;
    background: #FF1D4D;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700;
}

#contact-form button#valid-form:hover, #contact-form button#valid-form2:hover {
    background: #ff0339;
    color: #FFFFFF;
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/*
 * Photo / Gallery
 */
a.swipebox {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    border: 2px solid #333333;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

a.swipebox span.text-open {
    bottom: 50%;
    line-height: 1;
    height: auto;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

a.swipebox span.text-open:before {
    font-family: Ionicons;
    content: "\f217";
}

.no-touch a.swipebox:hover img {
    opacity: 0.3;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.no-touch a.swipebox:hover span.text-open {
    opacity: 1;
}

img {
    overflow: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.photo-collection {
    margin-top: 50px;
}

.photo-collection .photo-item {
    padding: 0;
    overflow: hidden;
    height: auto;
}

/*  
 * Skin
 */
#swipebox-overlay {
    background: #000000;
}

#swipebox-bottom-bar,
#swipebox-top-bar {
    background: #000000;
    opacity: 1;
    min-height: 50px;
}

#swipebox-bottom-bar {
    border-top: 1px solid #333333;
}

#swipebox-top-bar {
    color: #FFFFFF !important;
    border-bottom: 1px solid #333333;
    font-size: 15px;
    line-height: 50px;
    font-weight: 600;
}

#swipebox-prev,
#swipebox-next,
#swipebox-close {
    color: #FFFFFF !important;
    border: none !important;
    text-decoration: none !important;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    top: 0;
}

#swipebox-close {
    font-size: 25px;
}

#swipebox-close:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #333333;
}

/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/* SEPARATION LINE ---------------------------------------------------------------------------------------------------------------- */
/*
 * Media Queries
 */
/* Large Devices, Wide Screens */
/* Notebook devices */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
        margin-bottom: 5px;
    }

    p#text-alert {
        font-size: 15px;
    }

    #header {
        top: 0;
    }

    #header .logo {
        max-width: 50%;
        margin-bottom: 10px;
    }

    .global-content section {
        width: 100vw;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
    }

    .active-slide {
        top: 0 !important;
    }

    a.prev-button:hover, a.next-button:hover {
        color: #F8F8F8 !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 420px) {
    #wrapper {
        border: none;
    }

    .lines-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #footer {
        right: 10px;
    }

    .social-icons {
        right: 10px;
        top: 10px;
    }

    #header nav {
        margin: 0.5em 0 0 0;
    }

    #header nav li .notification {
        top: -5px;
        right: -5px;
    }

    #header nav li a.icon {
        height: 75px;
        width: 75px;
        line-height: 75px;
        font-size: 45px;
        margin: 2px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
    }

    #countdown_dashboard .dash-glob .dash .digit {
        font-size: 7em;
        font-weight: 100;
    }

    #countdown_dashboard .dash-glob .dash sup {
        color: #F8F8F8;
        display: block;
    }

    .contact-method {
        margin-bottom: 20px;
    }
}

/* Only for tablet in landscape mode */
@media only screen and (max-width: 320px) {
    #header nav {
        margin: 0.5em 0 0 0;
    }

    #header nav li .notification {
        top: -5px;
        right: -5px;
    }

    #header nav li a.icon {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
        height: 60px;
        width: 60px;
        line-height: 60px;
        font-size: 30px;
        margin: 2px;
    }
}

/* Only for tablet in landscape mode */
/* Only for phone in landscape mode */
@media screen and (max-device-width: 736px) and (orientation: landscape) {
    #wrapper {
        border: none;
    }

    .lines-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #footer {
        right: 10px;
    }

    .social-icons {
        right: 10px;
        top: 10px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 5px;
    }

    p#text-alert {
        font-size: 15px;
    }

    #header {
        top: 0;
    }

    #header .logo {
        max-width: 110px;
        margin-bottom: 0;
    }

    #header nav {
        margin: 0;
    }

    #header nav li .notification {
        top: -2px;
        right: -2px;
    }

    #header nav li a.icon {
        height: 70px;
        width: 70px;
        line-height: 70px;
        font-size: 45px;
        margin: 5px;
    }

    .global-content section {
        width: 100vw;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
    }

    .active-slide {
        top: 0 !important;
    }

    #countdown_dashboard .dash-glob .dash .digit {
        font-size: 10em;
        font-weight: 100;
    }

    #countdown_dashboard .dash-glob .dash sup {
        color: #F8F8F8;
        display: block;
    }

    #footer {
        bottom: 2px;
        right: 4px;
    }
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 0 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#what-we-do {
    /*background: #ffffff;*/
}

.card {
    background: none;
}


#what-we-do .card {
    padding: 1rem !important;
    border: none;
    margin-bottom: 1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#what-we-do .card:hover {
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

#what-we-do .card .card-block {
    padding-left: 50px;
    position: relative;
}

#what-we-do .card .card-block a {
    color: #007b5e !important;
    font-weight: 700;
    text-decoration: none;
}

#what-we-do .card .card-block a i {
    display: none;

}

#what-we-do .card:hover .card-block a i {
    display: inline-block;
    font-weight: 700;

}

#what-we-do .card .card-block:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

#what-we-do .card .block-1:before {
    content: "\f0e7";
}

#what-we-do .card .block-2:before {
    content: "\f0eb";
}

#what-we-do .card .block-3:before {
    content: "\f00c";
}

#what-we-do .card .block-4:before {
    content: "\f209";
}

#what-we-do .card .block-5:before {
    content: "\f0a1";
}

#what-we-do .card .block-6:before {
    content: "\f218";
}

#what-we-do .card:hover .card-block:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}